.*.swp
.*.o

/Makefile
/Makefile.in
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.in
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
/xfce4-datetime-plugin-*.tar.*

/autom4te.cache/

/panel-plugin/.deps/
/panel-plugin/.libs/
/panel-plugin/Makefile
/panel-plugin/Makefile.in
/panel-plugin/datetime.desktop
/panel-plugin/libdatetime.la
/panel-plugin/libdatetime_la*

/po/*.gmo
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/.intltool-merge-cache
/po/stamp-it
