<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:gnome="http://api.gnome.org/doap-extensions#"
         xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">xfce4-datetime-plugin</name>
  <shortdesc xml:lang="en">Displays the date and time and shows a calendar when clicked</shortdesc>
  <homepage rdf:resource="http://goodies.xfce.org/projects/panel-plugins/xfce4-datetime-plugin"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Diego Ongaro</foaf:name>
      <foaf:mbox>mailto:ongardie@gmail.com</foaf:mbox>
      <gnome:userid>ongardie</gnome:userid>
    </foaf:Person>
  </maintainer>
</Project>
